/.gsd-keyboard.settings-ported
/Code/
/GIMP/
/QtProject.conf
/autostart/
/balenaEtcher
/btop/
/dconf/
/evolution/
/github-copilot/
/gnome-session/
/goa-1.0/
/google-chrome/
/gtk-3.0/
/gtk-4.0/
/hypr/hyprborder.conf
/hypr/hyprtheme.conf
/ibus/
/inkscape/
/libreoffice/
/mako/colors_mako.conf
/mimeapps.list
/nautilus/
/nwg-look/
/pavucontrol.ini
/pulse/
/rofi/colors-rofi.rasi
/systemd/
/user-dirs.dirs
/user-dirs.locale
/waybar/colors-waybar.css
/waypaper/
/wezterm/colors_wezterm.lua
/xsettingsd/
