/GIMP/
/btop/
/dconf/
/evolution/
/gnome-session/
/goa-1.0/
/google-chrome/
/gtk-3.0/
/gtk-4.0/
/github-copilot/
/ibus/
/inkscape/
/libreoffice/
/nautilus/
/nwg-look/
/pulse/
/systemd/
/xsettingsd/
/mimeapps.list
/user-dirs.dirs
/user-dirs.locale
/hypr/hyprtheme.conf
/mako/colors_mako.conf
/rofi/colors-rofi.rasi
/waybar/colors-waybar.css
/waypaper/
